@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  flex-shrink: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #142257;
  width: 1920px;
  height: 977px;
  margin: 0 auto;
  font-family: "Plus Jakarta Sans";
}

.navbar {
  height: 80px;
  width: 1920px;
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 1920px;
  height: 100%;
  padding: 0 160px;
}

.logo-group {
  display: flex;
  align-items: center;
  width: 148.26px;
  height: 32px;
  margin-right: 402.37px;
}

.logo-image-wrapper {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.logo-img {
  width: 20.26px;
  height: 23.88px;
}

.logo-text-wrapper {
  display: flex;
  align-items: center;
  width: 116.26px;
  height: 32px;
  justify-content: flex-end;
}

.logo-text {
  color: white;
  font-size: 24px;
  font-weight: 700;
  white-space: nowrap;
}

.menu-container {
  width: 478px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 402.37px;
}

.menu-item-about {
  width: 81px;
  height: 24px;
  display: flex;
  align-items: center;
}

.menu-item-services {
  width: 76px;
  height: 24px;
  display: flex;
  align-items: center;
}

.menu-item-blog {
  width: 77px;
  height: 24px;
  display: flex;
  align-items: center;
}

.menu-item-contact {
  width: 73px;
  height: 24px;
  display: flex;
  align-items: center;
}

.menu-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
}

.special-container {
  width: 169px;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.circle-img {
  width: 12px;
  height: 12px;
}

.special-text {
  width: 147px;
  height: 24px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.person-left {
  position: absolute;
  left: 16px;
  top: 80px;
  width: 412px;
  height: 836px;
}

.person-right {
  position: absolute;
  right: 16px;
  top: 80px;
  width: 414px;
  height: 836px;
}

.services-row {
  position: absolute;
  top: 242px;
  left: 731.5px;
  width: 457px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9ea3b5;
  font-weight: 700;
}

.services-row span {
  font-size: 20px;
}

.services-row .dot {
  font-size: 16px;
}
